[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "nanopb"]
	path = nanopb
	url = https://github.com/nanopb/nanopb
[submodule "stm32f4-sdio-driver"]
	path = stm32f4-sdio-driver
	url = https://github.com/ChuckM/stm32f4-sdio-driver
